<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.damai.damaiwechat" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>dmwechat</name>
	<js-module name="dmwechat" src="www/dmwechat.js">
		<clobbers target="cordova.plugins.dmwechat" />
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="dmwechat">
				<param name="android-package" value="com.damai.damaiwechat.dmwechat" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/dmwechat.java" target-dir="src/com/damai/damaiwechat/dmwechat" />
	</platform>

	<platform name="ios">
            <config-file parent="/*" target="config.xml">
                <feature name="dmwechat"><param name="ios-package" value="dmwechat" /></feature>
	    </config-file>

	    <!-- 添加回调注册Target -->
	    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
	        <array>
	            <string>weixin</string>
	            <string>wechat</string>
	            <string>sinaweibohd</string>
	            <string>sinaweibo</string>
	            <string>sinaweibosso</string>
	            <string>weibosdk</string>
	            <string>weibosdk2.5</string>
	            <string>sqqapi</string>
                <string>mqq</string>
                <string>mqqapi</string>
	            <string>mqqOpensdkSSologin</string>
	            <string>wtloginmqq2</string>
	            <string>mqqopensdkapiV3</string>
	            <string>mqqopensdkapiV2</string>
	        </array>
	    </config-file>
	    <!-- 防止Https问题，貌似默认添加了 -->
	    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
	        <dict>
	            <key>NSAllowsArbitraryLoads</key>
	            <true/>
	        </dict>
	    </config-file>

        <!-- Plugin source code -->
        <source-file src="src/ios/dmwechat.m" />

        <!-- UMeng -->
        <info>
                注意：需要自己添加一下插件中的lib文件夹...还有修改info中的一些key值（自己配置）
                这里一开始，我是想所有文件手动写进来，添加的...写了好久...
                然后，最后还是没有什么卵用...TM的...主要是，出现了一些奇奇怪怪的问题，也不想解决了...想到后面还要这样添加...
                又回到原点，怎么样添加整个文件...尝试了很多方法....还是不行...
                决定先放一下...需要用到这个插件的同学，自己手动添加....
                或者有更好的方法...请一定告知我：qq.542136758...
                官网参考：https://cordova.apache.org/docs/en/4.0.0/plugin_ref/spec.html
        </info>
        <source-file src="src/ios/lib" weak="false" />

        <!-- 云信 -->

        <!-- Other required frameworks -->
        <framework src="libz.tbd" />
        <framework src="libstdc++.tbd" />
        <framework src="libsqlite3.tbd" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="ImageIO.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreMotion.framework" />
        
        <!-- 添加URL Type 需要用户自己修改 懒得弄...国内的很多平台的跳转id... -->
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>com.github.doctor</string>
                    </array>
                </dict>

                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>wxa2e2ce8a3180bed1</string>
                    </array>
                </dict>
                
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>QQ41DAB367</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>tencent1104851815</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>wb1399888483</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>sina.56ea4f1867e58e4242001361</string>
                    </array>
                </dict>
            </array>
        </config-file>

     </platform>


</plugin>